/* XS */
h1 {
  color: rgb(228, 12, 102);
}

.container {
  background-color: #999;
}

.container-fluid {
  background-color: #888;
}

/* Container breakpoint */

.container-sm {
  margin-bottom: 30px;
  border: 2px solid blue;
}

.container-md {
  margin-bottom: 30px;
  border: 2px solid crimson;
}

.container-lg {
  margin-bottom: 30px;
  border: 2px solid chocolate;
}

.container {
  border: 2px dotted blue;
  padding: 10px;
  margin-bottom: 300px;
}

.row {
  border: 5px solid purple;
  height: 100px;
  padding: 10px;
  margin: 0;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-6,
.col-9,
.col-11{
  border: 2px dashed red;
  height: 100%;
  margin: 0;
}

#largura-limitada {
  max-width: 500px;
}

/* Alinhamento vertical */

#vertical, #horizontal {
  height: 250px;
  border-color: coral;
}

#vertical, #horizontal .row {
  height: 100%;
}

.col-6, .col-3 {
  height: 50px;
}

.offset .col-md-3 {
  height: 50px;
  border: 2px solid red;
}

/* SM >= 576px */
@media (min-width: 576px) {
  h1 {
    color: rgb(0, 201, 60);
  }
}

/* MD >= 768px */
@media (min-width: 768px) {
  h1 {
    color: rgb(214, 157, 0);
  }
}

/* LG >= 992px */
@media (min-width: 992px) {
  h1 {
    color: rgb(141, 0, 177);
  }
}